body{
    font-family: 'Poppins', sans-serif;
}
.color{ color: cyan;}
section{ color: white;
    display: flex;
    margin-bottom: 0px;
}
.half-width{ 
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
    padding-bottom: 80%;
}
.link-click{
    text-decoration: none;
    color: white;
    background-color: darkmagenta;
    border-radius: 10px;
    padding: 3px 10px;
}
.bg-banner{background-image: url(./images/modern-futuristic-sci-fi-background.jpg);
    
background-repeat: no-repeat;


}
.dream-big{
    background-image: url(./images/modern-futuristic-sci-fi-background.jpg);
    
background-repeat: no-repeat;



}
